$grey: #696969;
$principal: #002d5c;
$secondary: #276092;
$terciary: #288dc1;
$four: #9acaeb;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Lato", sans-serif;
}

section {
  margin-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

h1 {
  font-weight: 900;
  font-size: 2em;
}

h2 {
  font-weight: 900;
  font-size: 1.7em;
  text-align: center;
}

small {
  color: #002d5c;
  font-weight: 900;
  font-size: 1.1rem;
}

p {
  font-size: 1.1em;
}

#about_section {
  position: relative;
  overflow: hidden;

  z-index: 1;

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    margin-top: 2rem;
    cursor: default;
  }

  .item {
    background: $principal;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1rem;

    padding: 1rem;
    transition: all 400ms ease;

    &:hover {
      scale: 1.1;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      color: $four;
      font-size: 2em;
    }

    h4 {
      font-size: 2em;
      font-weight: 900;
    }
  }

  .body {
    h4 {
      font-weight: 400;
      font-size: 1em;
    }
  }

  .circle {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: $secondary;
    border-radius: 100%;
    z-index: -5;
  }

  .circle1 {
    top: -1.8rem;
    right: -1.8rem;
  }

  .circle2 {
    bottom: -1.8rem;
    left: -1.8rem;
  }

  @media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      width: 60%;
      margin: 2rem auto 0 auto;
    }
  }
}

#services-section {

  p {
    line-height: 1.6rem;
  }

  .title {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.8rem;
  }

  .container {
    width: 90%;
    margin: 2rem auto 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  @media screen and (min-width: 1024px) {
    .container {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      width: 80%;
    }
  }
}

#service-card {
  background: white;
  border: 1px solid rgb(234, 234, 234);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  gap: 1rem;


  .title {
    h3 {
      color: $principal;
      font-weight: 900;
      font-size: 1.4rem;
    }

    align-items: flex-start;
  }

  .item {

    margin-bottom: 1.5rem;

    h4{
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: .5rem;
    } 

    ul {
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  cursor: default;

  button {
    background: $principal;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  section {
    margin-bottom: 6rem;
  }
}
