* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

section {
  margin-bottom: 3rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 400ms ease;
}

h1 {
  font-weight: 900;
  font-size: 2em;
}

h2 {
  font-weight: 900;
  font-size: 1.7em;
}

small {
  color: #002d5c;
  font-weight: 900;
  font-size: 1.1rem;
}

p {
  font-size: 1.1em;
}

@media screen and (min-width: 1024px) {
  section {
    margin-bottom: 6rem;
  }
}