@use '../../styles/variables.scss';

.section {
    background: rgb(239, 239, 239);
    padding: 3rem 0;

    position: relative;
    overflow: hidden;
  
    z-index: 1;  
}

.container {
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.img_container {
    width: 60%;
    max-width: 28rem;
    margin: 0 auto;
    img {
        border-radius: 12px;
    }
}

.foto {
    p {
        margin-top: 1rem;
        text-align: center;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;

    span {
        color: variables.$secondary;
    }

    p {
        color: variables.$grey ;
        max-width: 50rem;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        h2 {
            max-width: 85%;
        }
    }

    .container {
        grid-template-columns: 2fr 1fr;
        place-items: center;
        gap: 1rem;
    }

}




